html, body {
    height: 100%;
}
h1,div{
        color:#004d4d;
        padding:5px;
        font: italic bold 30px Georgia, serif;
        font-family: "Comic Sans MS", cursive, sans-serif;
}
h2{
        color:#004d4d;
        padding:3px;
        font: italic bold 25px Georgia, serif;
        font-family: "Comic Sans MS", cursive, sans-serif;
}
h3{
        color:#007d7d;
        padding:3px;
        font: italic 18px Georgia, serif;
        font-family: "Comic Sans MS", cursive, sans-serif;
}
button{
    background-color: #004d4d;
    border: 3px solid black;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    font: italic bold 20px Georgia, serif;
}
button:hover{
    color: black;
    background-color: white;
}
input{
    border: 2px solid black;
    color: #007d7d;
    padding: 2px 2px;
    text-decoration: none;
    margin: 2px 2px;
    size: 2px;
    font-size:20px;
    border-radius: 15px;
}
table{
    width: 110%;
}
td{
    width: 50%;
}
